[submodule "public/speedometer/main"]
	path = public/speedometer/main
	url = https://chromium.googlesource.com/external/github.com/WebKit/Speedometer
[submodule "public/speedometer/v3.1"]
	path = public/speedometer/v3.1
	url = https://chromium.googlesource.com/external/github.com/WebKit/Speedometer
[submodule "public/speedometer/v3.1-custom"]
	path = public/speedometer/v3.1-custom
	url = https://chromium.googlesource.com/external/github.com/WebKit/Speedometer
[submodule "public/speedometer/v3.0"]
	path = public/speedometer/v3.0
	url = https://chromium.googlesource.com/external/github.com/WebKit/Speedometer
[submodule "public/speedometer/v3.0-custom"]
	path = public/speedometer/v3.0-custom
	url = https://chromium.googlesource.com/external/github.com/WebKit/Speedometer
[submodule "public/speedometer/v2.1"]
	path = public/speedometer/v2.1
	url = https://chromium.googlesource.com/external/github.com/WebKit/Speedometer
[submodule "public/speedometer/v2.1-custom"]
	path = public/speedometer/v2.1-custom
	url = https://chromium.googlesource.com/external/github.com/WebKit/Speedometer
[submodule "public/speedometer/v2.0"]
	path = public/speedometer/v2.0
	url = https://chromium.googlesource.com/external/github.com/WebKit/Speedometer
[submodule "public/jetstream/main-custom"]
	path = public/jetstream/main-custom
	url = https://chromium.googlesource.com/external/github.com/WebKit/JetStream
[submodule "public/jetstream/main"]
	path = public/jetstream/main
	url = https://chromium.googlesource.com/external/github.com/WebKit/JetStream
[submodule "public/jetstream/v3.0-custom"]
	path = public/jetstream/v3.0-custom
	url = https://chromium.googlesource.com/external/github.com/WebKit/JetStream
[submodule "public/jetstream/v3.0"]
	path = public/jetstream/v3.0
	url = https://chromium.googlesource.com/external/github.com/WebKit/JetStream
[submodule "public/jetstream/v2.2-custom"]
	path = public/jetstream/v2.2-custom
	url = https://chromium.googlesource.com/external/github.com/WebKit/JetStream
[submodule "public/jetstream/v2.2"]
	path = public/jetstream/v2.2
	url = https://chromium.googlesource.com/external/github.com/WebKit/JetStream
[submodule "public/jetstream/v2.1-custom"]
	path = public/jetstream/v2.1-custom
	url = https://chromium.googlesource.com/external/github.com/WebKit/JetStream
[submodule "public/jetstream/v2.1"]
	path = public/jetstream/v2.1
	url = https://chromium.googlesource.com/external/github.com/WebKit/JetStream
[submodule "public/jetstream/v2.0-custom"]
	path = public/jetstream/v2.0-custom
	url = https://chromium.googlesource.com/external/github.com/WebKit/JetStream
[submodule "public/jetstream/v2.0"]
	path = public/jetstream/v2.0
	url = https://chromium.googlesource.com/external/github.com/WebKit/JetStream
[submodule "public/jetstream/v1.1"]
	path = public/jetstream/v1.1
	url = https://chromium.googlesource.com/external/github.com/WebKit/JetStream
[submodule "public/motionmark/main"]
	path = public/motionmark/main
	url = https://chromium.googlesource.com/external/github.com/WebKit/MotionMark
[submodule "public/motionmark/v1.3.1"]
	path = public/motionmark/v1.3.1
	url = https://chromium.googlesource.com/external/github.com/WebKit/MotionMark
[submodule "public/motionmark/v1.3"]
	path = public/motionmark/v1.3
	url = https://chromium.googlesource.com/external/github.com/WebKit/MotionMark
[submodule "public/motionmark/v1.2"]
	path = public/motionmark/v1.2
	url = https://chromium.googlesource.com/external/github.com/WebKit/MotionMark
[submodule "public/motionmark/v1.1"]
	path = public/motionmark/v1.1
	url = https://chromium.googlesource.com/external/github.com/WebKit/MotionMark
[submodule "public/motionmark/v1.0"]
	path = public/motionmark/v1.0
	url = https://chromium.googlesource.com/external/github.com/WebKit/MotionMark
[submodule "public/web-tests/main"]
	path = public/web-tests/main
	url = https://chromium.googlesource.com/chromium/web-tests
